<% include ../partials/header %>

<h1><%= flavor.name %></h1>
<h2><em>Calories: <%= flavor.calories %></em></h2>

<h3>Reviews:</h3>
<div class="reviews-list">
  <% reviews.forEach(function(review) { %>
    <span><%= review.body %></span>
    <span>Rating: <%= review.rating %></span>
  <% }) %>
</div>

<div class="new-review">
  <!-- TODO: add new review form for flavors -->
</div>

<% include ../partials/footer %>
