<% include ../partials/header %>

<h1><%= flavor.name %></h1>
<h2><em>Calories: <%= flavor.calories %></em></h2>

<div>
  <h3>Reviews:</h3>
  <ul class="reviews-list">
    <% reviews.forEach(function(review) { %>
      <li>
        <span><%= review.body %></span>
        <span>Rating: <%= review.rating %></span>
      </li>
    <% }) %>
  </ul>
</div>

<div class="new-review">
  <!-- TODO: add new review form for flavors -->
</div>

<% include ../partials/footer %>
