<% include ../partials/header %>

<h1><%= flavor.name %></h1>
<em>Calories: <%= flavor.calories %></em>

<div class="rating-list">
  <% ratings.forEach(function(rating) { %>
    <span><%= rating.body %></span>
    <span><%= rating.rating %></span>
  <% }) %>
</div>

<div class="new-rating">
  <!-- TODO: add new rating form for flavors -->
</div>

<% include ../partials/footer %>
